In [2]:
import requests
import pandas as pd

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

from sklearn.preprocessing import LabelEncoder

In [21]:
dtr_model = DecisionTreeRegressor(random_state=1)
forest_model = RandomForestRegressor(random_state=1)

encoder = LabelEncoder()

In [5]:
my_rating_df = pd.read_csv('ratings.csv')
my_rating_df.head()

         Date                         Name  Year        Letterboxd URI  Rating
0  2021-11-29                       Violet  2021  https://boxd.it/oMCE     4.0
1  2021-11-29                     Hot Fuzz  2007  https://boxd.it/2416     3.5
2  2021-11-29              The World's End  2013  https://boxd.it/3EiO     3.0
3  2021-11-29  Scott Pilgrim vs. the World  2010  https://boxd.it/1Aq6     4.0
4  2021-11-29                   La La Land  2016  https://boxd.it/a5fa     3.0

In [216]:
import json

with open("config.json","r") as file:
    config = json.load(file)

In [218]:
# TMDB API requests
API_KEY = config['TMDB_API_KEY']
# Selecionando a series contendo os nomes de filmes do meu dataframe
my_filmes_name = my_rating_df['Name']
tmdb_rating = []

# Header
headers = {
        "Authorization": f"Bearer {config['TMDB_ACCESS_TOKEN']}"
    }

In [12]:

for filme in my_filmes_name:
    search_url = f"https://api.themoviedb.org/3/search/movie?query={filme}&language=pt=BR"
    response_search = requests.get(search_url,headers=headers)
    
    if response_search.status_code == 200:
        data_search = response_search.json()
        if data_search['results']:
            # Seleciona o primeiro resultado da busca
            movie = data_search['results'][0]
            movie_id = movie['id']
            
            # Chamada para obter mais detalhes do filme
            movie_url = f"https://api.themoviedb.org/3/movie/{movie_id}?language=pt-BR"
            response_movie = requests.get(movie_url,headers=headers)
            
            if response_movie.status_code == 200:
                data_movie = response_movie.json()
                movie.update({key: data_movie.get(key) for key in ['runtime', 'budget', 'revenue']})
                
                production_companies = data_movie.get('production_companies',[])
                
                if production_companies:
                    # Pegando apenas o ID da produtora
                    movie['production_company_id'] = production_companies[0].get('id')
                else:
                    movie['production_company_id'] = None
            else:
                movie['runtime'] = None
                movie['budget'] = None
                movie['revenue'] = None
                
            tmdb_rating.append(movie)
        else:
            print(f"Nenhum resultado encontrado para: {filme}")
    else:
        print(f"Erro na busca pelo filme {filme}: {response_search.status_code}")

        
tmdb_rating_df = pd.DataFrame(tmdb_rating)

In [32]:
# Transformando a variável original_language em numérica
tmdb_rating_df['original_language'] = encoder.fit_transform(tmdb_rating_df['original_language'])

# Colocando a coluna minhas_notas e ano no dataframe tmdb
for i,filme in my_rating_df.iterrows():
    nome_f = filme['Name']
    nota = filme['Rating']
    ano = filme['Year']
    if nome_f in tmdb_rating_df['title'].values:
        tmdb_rating_df.loc[tmdb_rating_df['title'] == nome_f,'year'] = ano
        tmdb_rating_df.loc[tmdb_rating_df['title'] == nome_f,'minhas_notas'] = nota

#Escolhendo as variáveis de interesse
features = ['genre_ids','original_language','popularity','vote_average','vote_count',
            'runtime','budget','revenue','production_company_id','year','minhas_notas']
tmdb_feature_df = tmdb_rating_df[features]


tmdb_feature_df.head()

,genre_ids,original_language,popularity,vote_average,vote_count,runtime,budget,revenue,production_company_id,year,minhas_notas
0,[18],2,5.446,7.000,25,92,0,0,20443.0,2021.0,4.0
1,"[80, 28, 35]",2,39.681,7.561,7680,121,12000000,80600000,443.0,2007.0,3.5
2,"[35, 28, 878]",2,18.752,6.800,5466,109,20000000,46100000,443.0,2013.0,3.0
3,"[28, 35, 10749]",2,39.321,7.500,7984,113,85000000,51691156,2527.0,2010.0,4.0
4,"[35, 18, 10749, 10402]",2,76.174,7.900,17107,128,30000000,447407695,491.0,2016.0,3.0

In [33]:
tmdb_feature_df

,genre_ids,original_language,popularity,vote_average,vote_count,runtime,budget,revenue,production_company_id,year,minhas_notas
0,[18],2,5.446,7.000,25,92,0,0,20443.0,2021.0,4.0
1,"[80, 28, 35]",2,39.681,7.561,7680,121,12000000,80600000,443.0,2007.0,3.5
2,"[35, 28, 878]",2,18.752,6.800,5466,109,20000000,46100000,443.0,2013.0,3.0
3,"[28, 35, 10749]",2,39.321,7.500,7984,113,85000000,51691156,2527.0,2010.0,4.0
4,"[35, 18, 10749, 10402]",2,76.174,7.900,17107,128,30000000,447407695,491.0,2016.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...
799,"[18, 36]",2,12.177,6.500,639,132,0,0,20580.0,2021.0,1.0
800,"[18, 10749]",5,12.403,7.600,985,106,0,0,53.0,1962.0,2.0
801,"[28, 35, 12]",2,98.942,7.491,8781,132,185000000,168717425,128064.0,2021.0,2.0
802,"[18, 10402]",2,34.492,7.138,7360,111,41000000,242875078,24.0,2002.0,2.0
803,"[16, 35, 18, 10751]",2,24.550,7.700,588,90,6000000,6909209,12219.0,2021.0,2.0

In [34]:
# Criando uma coluna para cada genre_id para que seja usada como uma variável numérica
all_genres_dif = set([genre for sublist in tmdb_feature_df['genre_ids'] for genre in sublist])
for genre in all_genres_dif:
    tmdb_feature_df.loc[:,f'genre_{genre}'] = tmdb_feature_df['genre_ids'].apply(lambda x: 1 if genre in x else 0)
tmdb_feature_df = tmdb_feature_df.drop(columns=['genre_ids'])
tmdb_feature_df

C:\Users\Kevin\AppData\Local\Temp\ipykernel_2156\36442871.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmdb_feature_df.loc[:,f'genre_{genre}'] = tmdb_feature_df['genre_ids'].apply(lambda x: 1 if genre in x else 0)
C:\Users\Kevin\AppData\Local\Temp\ipykernel_2156\36442871.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmdb_feature_df.loc[:,f'genre_{genre}'] = tmdb_feature_df['genre_ids'].apply(lambda x: 1 if genre in x else 0)
C:\Users\Kevin\AppData\Local\Temp\ipykernel_2156\36442871.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmdb_feature_df.loc[:,f'genre_{genre}'] = tmdb_feature_df['genre_ids'].apply(lambda x: 1 if genre in x else 0)
C:\Users\Kevin\AppData\Local\Temp\ipykernel_2156\36442871.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmdb_feature_df.loc[:,f'genre_{genre}'] = tmdb_feature_df['genre_ids'].apply(lambda x: 1 if genre in x else 0)
C:\Users\Kevin\AppData\Local\Temp\ipykernel_2156\36442871.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmdb_feature_df.loc[:,f'genre_{genre}'] = tmdb_feature_df['genre_ids'].apply(lambda x: 1 if genre in x else 0)
C:\Users\Kevin\AppData\Local\Temp\ipykernel_2156\36442871.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmdb_feature_df.loc[:,f'genre_{genre}'] = tmdb_feature_df['genre_ids'].apply(lambda x: 1 if genre in x else 0)
C:\Users\Kevin\AppData\Local\Temp\ipykernel_2156\36442871.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmdb_feature_df.loc[:,f'genre_{genre}'] = tmdb_feature_df['genre_ids'].apply(lambda x: 1 if genre in x else 0)
C:\Users\Kevin\AppData\Local\Temp\ipykernel_2156\36442871.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmdb_feature_df.loc[:,f'genre_{genre}'] = tmdb_feature_df['genre_ids'].apply(lambda x: 1 if genre in x else 0)

,original_language,popularity,vote_average,vote_count,runtime,budget,revenue,production_company_id,year,minhas_notas,...,genre_35,genre_36,genre_37,genre_9648,genre_53,genre_80,genre_99,genre_878,genre_10749,genre_10751
0,2,5.446,7.000,25,92,0,0,20443.0,2021.0,4.0,...,0,0,0,0,0,0,0,0,0,0
1,2,39.681,7.561,7680,121,12000000,80600000,443.0,2007.0,3.5,...,1,0,0,0,0,1,0,0,0,0
2,2,18.752,6.800,5466,109,20000000,46100000,443.0,2013.0,3.0,...,1,0,0,0,0,0,0,1,0,0
3,2,39.321,7.500,7984,113,85000000,51691156,2527.0,2010.0,4.0,...,1,0,0,0,0,0,0,0,1,0
4,2,76.174,7.900,17107,128,30000000,447407695,491.0,2016.0,3.0,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799,2,12.177,6.500,639,132,0,0,20580.0,2021.0,1.0,...,0,1,0,0,0,0,0,0,0,0
800,5,12.403,7.600,985,106,0,0,53.0,1962.0,2.0,...,0,0,0,0,0,0,0,0,1,0
801,2,98.942,7.491,8781,132,185000000,168717425,128064.0,2021.0,2.0,...,1,0,0,0,0,0,0,0,0,0
802,2,34.492,7.138,7360,111,41000000,242875078,24.0,2002.0,2.0,...,0,0,0,0,0,0,0,0,0,0
803,2,24.550,7.700,588,90,6000000,6909209,12219.0,2021.0,2.0,...,1,0,0,0,0,0,0,0,0,1

In [208]:
# Uma função que cria um dataframe para a nota que queremos reavaliar e outra para o restante do data frame
def nota_alvo(df: pd.DataFrame ,rating: float):
    filmes_nota_alvo = df.loc[df['minhas_notas']==rating]
    filmes_dif_nota_alvo = df.loc[~df['minhas_notas'].isin(filmes_nota_alvo['minhas_notas'])]
    return (filmes_dif_nota_alvo,filmes_nota_alvo)

In [209]:
X,y = nota_alvo(df=tmdb_feature_df, rating=1.5)

In [210]:
X = X.dropna()
test_X = X.drop(columns=['minhas_notas'])
test_X
test_y = X['minhas_notas']

In [211]:
dtr_model.fit(test_X,test_y)
forest_model.fit(test_X,test_y)
dtr_predict = dtr_model.predict(val_x)
forest_predict = forest_model.predict(val_x)

In [212]:
val_x = y.drop(columns=['minhas_notas'])
val_x

,original_language,popularity,vote_average,vote_count,runtime,budget,revenue,production_company_id,year,genre_10752,...,genre_35,genre_36,genre_37,genre_9648,genre_53,genre_80,genre_99,genre_878,genre_10749,genre_10751
46,2,94.738,6.819,15567,123,200000000,531865000,3281.0,2013.0,0,...,0,0,0,0,1,0,0,1,0,0
73,2,20.187,6.000,2991,94,55000000,187361754,1302.0,2011.0,0,...,1,0,0,0,0,0,0,0,0,1
76,2,133.255,8.240,26065,181,356000000,2799439100,420.0,2019.0,0,...,0,0,0,0,0,0,0,1,0,0
77,2,85.092,6.500,13403,141,200000000,708962323,5.0,2014.0,0,...,0,0,0,0,0,0,0,1,0,0
82,2,68.695,7.208,15904,101,150000000,585410052,174.0,2007.0,0,...,0,0,0,0,1,0,0,1,0,0
103,2,95.255,6.800,21221,124,200000000,623933331,420.0,2010.0,0,...,0,0,0,0,0,0,0,1,0,0
145,13,43.183,7.300,735,95,0,21041950,108532.0,2018.0,0,...,0,0,0,1,0,0,0,0,0,0
188,2,45.720,6.962,10510,141,104000000,410902662,25.0,2017.0,0,...,1,0,0,0,0,0,0,0,0,0
246,2,54.158,7.808,6397,147,15000000,20289986,694.0,2001.0,0,...,0,0,0,1,1,0,0,0,0,0
283,2,49.409,8.009,12203,122,15000000,356296601,7.0,1999.0,0,...,0,0,0,0,0,0,0,0,0,0
285,2,77.777,6.709,17552,136,215000000,757930663,7505.0,2012.0,0,...,0,0,0,0,0,0,0,1,0,0
286,2,20.437,7.188,1961,111,0,0,7076.0,2021.0,0,...,0,0,0,1,0,0,0,0,0,0
287,2,21.967,6.699,2343,107,0,0,7076.0,2021.0,0,...,0,0,0,1,0,0,0,0,0,0
351,2,23.404,7.644,2895,108,0,0,2147.0,2020.0,0,...,0,0,0,0,0,0,0,0,1,0
357,2,21.966,5.500,1994,101,48000000,112462508,444.0,2010.0,0,...,1,0,0,0,0,0,0,0,0,1
365,2,24.785,7.060,3456,122,34000000,50283563,68551.0,1994.0,0,...,0,0,0,0,1,1,0,0,0,0
376,2,103.173,7.700,19711,153,250000000,933959197,174.0,2009.0,0,...,0,0,0,0,0,0,0,0,0,0
379,2,18.330,6.514,7016,104,85000000,158964610,103453.0,2006.0,0,...,0,0,0,0,1,1,0,0,0,0
381,2,40.517,6.199,5151,108,100000000,384335608,2537.0,2006.0,0,...,1,0,0,0,0,0,0,0,0,1
384,2,51.117,6.100,2358,115,85000000,187134117,33.0,2007.0,0,...,1,0,0,0,0,0,0,0,1,0
391,2,29.166,6.500,2070,110,22000000,147880543,80510.0,2007.0,0,...,1,0,0,0,0,0,0,0,0,1
395,2,35.462,6.587,10325,108,110000000,574480841,436.0,2006.0,0,...,1,0,0,0,0,0,0,0,0,1
421,2,65.772,5.700,2417,102,10000000,159814490,2184.0,2007.0,0,...,1,0,0,0,0,0,0,0,0,0
424,2,114.356,7.322,17081,99,35000000,469310836,923.0,2009.0,0,...,1,0,0,0,0,0,0,0,0,0
432,2,106.913,7.658,10673,185,185000000,772319315,101405.0,2022.0,0,...,0,0,0,1,1,1,0,0,0,0
435,2,74.021,7.000,2726,122,35000000,168961389,126588.0,2023.0,0,...,0,0,0,0,1,1,0,0,0,0
436,2,18.406,5.500,1886,88,150000000,292817841,2.0,2009.0,0,...,1,0,0,0,0,0,0,1,0,1
440,16,6.005,7.100,104,114,0,0,2445.0,1931.0,0,...,0,0,0,0,0,0,0,0,0,0
444,2,98.105,6.321,3003,135,297000000,569626289,2.0,1989.0,0,...,0,0,0,0,0,0,0,0,1,1
465,2,53.470,6.629,7957,95,30000000,71038838,1632.0,2011.0,0,...,0,0,0,1,0,0,0,0,0,0
514,2,32.466,7.300,4071,85,350000,29612367,467.0,1981.0,0,...,0,0,0,0,0,0,0,0,0,0
520,2,101.551,8.201,24282,138,80000000,294804195,4.0,2010.0,0,...,0,0,0,1,1,0,0,0,0,0

In [214]:
val_x['new_rating'] = dtr_predict

val_x['forest_rating'] = forest_predict

In [215]:
result = pd.concat([tmdb_rating_df.iloc[[id]] for id in val_x.index], ignore_index=True)
result['new_rating'] = val_x['new_rating'].values
result['forest_rating'] = val_x['forest_rating'].values
result[['title','minhas_notas','new_rating','forest_rating']]

,title,minhas_notas,new_rating,forest_rating
0,World War Z,1.5,1.0,1.485
1,Mr. Popper's Penguins,1.5,1.0,1.340
2,Avengers: Endgame,1.5,4.0,2.790
3,The Amazing Spider-Man 2,1.5,0.5,1.375
4,I Am Legend,1.5,4.0,2.425
5,Iron Man 2,1.5,1.0,1.315
6,Gonjiam: Haunted Asylum,1.5,3.5,2.885
7,Kingsman: The Golden Circle,1.5,2.0,2.450
8,Mulholland Drive,1.5,4.0,3.615
9,American Beauty,1.5,3.0,3.530
10,The Amazing Spider-Man,1.5,1.0,1.435
11,Fear Street: 1978,1.5,3.0,2.385
12,Fear Street: 1994,1.5,2.0,2.515
13,All the Bright Places,1.5,0.5,2.525
14,Tooth Fairy,1.5,1.0,1.535
15,Natural Born Killers,1.5,4.0,3.095
16,Harry Potter and the Half-Blood Prince,1.5,2.0,2.205
17,The Fast and the Furious: Tokyo Drift,1.5,3.0,2.455
18,Happy Feet,1.5,2.5,1.775
19,I Now Pronounce You Chuck & Larry,1.5,1.0,1.595
20,The Game Plan,1.5,3.0,2.200
21,Night at the Museum,1.5,2.5,1.590
22,Norbit,1.5,1.0,1.435
23,The Hangover,1.5,2.0,3.020
24,The Batman,1.5,0.5,2.835
25,Scream VI,1.5,3.0,2.760
26,G-Force,1.5,1.0,1.650
27,Limite,1.5,1.0,3.000
28,The Little Mermaid,1.5,1.0,2.470
29,The Cabin in the Woods,1.5,0.5,1.820
30,The Evil Dead,1.5,4.0,3.240
31,Shutter Island,1.5,3.0,3.760

In [1]:
result[['title','minhas_notas','new_rating','forest_rating']].sort_values(['forest_rating'])

NameError: name 'result' is not defined